body {
	background-image: url(stone.jpg);
	background-size: cover;
}

h2 {
	color:  #4B688B;
	text-align: center;
	border: 5px solid #748BA7;
	cursor: pointer;
}

p {
	color: #051C38;
	text-align: right;
	line-height: 20px;
	font-size: 110%;
	font-family: 'Suez One', serif;
}

img {
	float: left;
}

footer{
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}

toast {
	display: flex;
}